<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790451969584-7miodfosvb93r66j797r8kfcami8igvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790451969584-7miodfosvb93r66j797r8kfcami8igvf</string>
	<key>API_KEY</key>
	<string>AIzaSyBKFi30hpfiuFQE77JBIhFOTFMCLNIGi9o</string>
	<key>GCM_SENDER_ID</key>
	<string>790451969584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.ahmetakil.shoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-fdb33</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-fdb33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790451969584:ios:3087a37b23ee42a3c517f5</string>
	<key>DATABASE_URL</key>
	<string>https://shoppinglist-fdb33.firebaseio.com</string>
</dict>
</plist>